li {
  list-style-type: none;
}

li:active {
  transform: scale(0.96);
}

.emoji-card-container {
  background-color: #ffffff33;
  border: 3px solid #ffffff30;
  border-radius: 12px;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
}

.emoji-card-container:hover {
  box-shadow: 0 0 8px #d5f7de;
  transform: scale(1.01);
}

.emoji {
  width: 60px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .emoji-card-container {
    width: 140px;
    height: 140px;
    margin: 12px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  .emoji {
    width: 80px;
    height: 80px;
  }
}
